<%= form_for(@message) do |f| %>
  <div class="field">
    <%= f.label :resolved %><br>
    <%= f.check_box :resolved %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit 'Update ticket' %>
  </div>
<% end %>
