<p id="notice"><%= notice %></p>

<%= render 'filters' %>

<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Sender</th>
      <th>Body</th>

      <th>Priority</th>
      <th>Created at</th>
      <th>Resolved</th>
      <th>Replies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.sender %></td>
        <td><%= message.body %></td>
        <td><%= message.priority %></td>
        <td><%= l message.created_at %></td>
        <td><%= message.resolved %></td>
        <td><%= message.replies.count %></td>
        <td><%= link_to 'Show', message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
