<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @message.sender %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Resolved:</strong>
  <%= @message.resolved %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @message.priority %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
