<% if flash['reply_errors'].present?%>
    <div id="error_explanation">
      <%= flash['reply_errors'] %>
    </div>
<% end %>
<% if flash['message_errors'].present?%>
    <div id="error_explanation">
      <%= flash['message_errors'] %>
    </div>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @message.sender %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>
<p> Update ticket status:</p>
<%= render 'updateResolvedOrPriority' %>

<% if @message.replies %>
    <p> Replies:</p>
    <table>
      <thead>
        <tr>
          <th>Sender</th>
          <th>Body</th>
          <th>Sent</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @message.replies %>
      </tbody>
    </table>
<%end%>



<p> Write a response...</p>
<%= render 'replies/form' %>

<%= link_to 'Back', messages_path %>
