<% if flash['reply_errors'].present?%>
    <div class="alert alert-danger" role="alert">
      <%= flash['reply_errors'] %>
    </div>
<% end %>
<% if flash['message_errors'].present?%>
    <div class="alert alert-danger" role="alert">
      <%= flash['message_errors'] %>
    </div>
<% end %>

<div class="card w-100">
  <div class="card-block">
    <div class="row">
      <div class="col">
        <div class="card-title">
          <h4>Sender: <%=@message.sender%></h4>
        </div>
        <p class="card-subtitle mb-2 text-muted"><%= l @message.created_at%></p>
        <div class="card-text">
          <p><%=@message.body%></p>
        </div>
      </div>
      <div class="col text-right">
        <%= render 'updateResolvedOrPriority' %>
      </div>
    </div>
  </div>
</div>

<%= render @message.replies %>



<p> Write a response...</p>
<%= render 'replies/form' %>

<%= link_to 'Back', messages_path %>
