<!DOCTYPE html>
<html>
<head>
  <title>BranchSupport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="/">
      <%= image_tag('branch_logo.png', width: '80px' )%>
  </a>
  <% if @current_user %>
      <p class="white"> Welcome, <%= @current_user.name%> </p>
      <%= link_to("logout", logout_path) %>
  <% end %>
</nav>


<%= yield %>

</body>
</html>
